.h1{
  font-size: 100px;
  text-align: right;
  color: rgb(204, 204, 204);
  margin: -40px 0px -50px 0px;
}

.text-muted{
  color: rgba(112, 128, 144, 0.699);
}

.ui-sortable-handle {
  cursor: grab;
}

.ui-sortable-handle:active {
  cursor: grabbing;
}

.column-sort a{
  color: black;
}

.column-list a{
  color: white;
}